*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Noto';
    src: url(../fonts/NotoSans-Regular.ttf);
}

body{
    font-family: 'Noto';
}



.principal{
    background-image: url(../imagenes/Bolivar1.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: top;
    height: 60vh;
    text-align: center;
    padding-top: 150px;
}

.principal h1{
    font-size: 48px;
    font-weight: 700;
    padding: 5px;
    margin: 0px 15px 15px 0px;
    color: white;
}


.principal h6{
    font-size: 14px;
    letter-spacing: 3px;
    color: white;
}


.Subtitulo{
    font-size: 30px;
    color:rgb(3, 78, 107);
    margin-bottom: 50px;
    margin-top: 80px;
}

.conceptos h6{
    font-size: 21px;
}

.card-title{
    font-size:21px;
    color:rgb(3, 78, 107);
}

.card .icon{
    font-size: 25px;
}

.principal .btn{
    margin-top: 40px;
    background-color: transparent!important;
    border: solid 2px white;
}

.principal .btn:hover{
    background-color: rgb(3, 78, 107)!important;
    border: solid 2px rgb(3, 78, 107);
}

.icon-contacto{
    margin-top:10px!important;
    padding-right: 10px;
}

footer{
    margin-top: 100px;
}

footer p{
    font-size: 18px;
}

footer a{
    text-decoration: none;
    color: white;
}

#scrollUp{
    position: fixed;
    right: 80px;
    font-size: 20px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    bottom: 40px;
    background-color: rgb(3, 78, 107);
    color:white;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 50%;
}

.navbar .active{
    font-weight: 500!important;
}

.migadepan{
    margin-top: 150px;
    margin-left: 20px;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 50px;
}

.servicios .fa-check{
    padding-right: 10px!important;
}

@media screen and (min-width:1200px){

    .principal h1{
        font-size:65px;
        margin-bottom: 5px;
    }
    .principal h6{
        font-size: 25px;
    }
    footer .redes{
        justify-content: space-between!important;
    }
    .migadepan{
        margin-top: 150px;
        letter-spacing: 3px;
        font-size: 12px;
        margin-bottom: 150px;
    }



}



